:root {
  /* --header-bg-color: linear-gradient(
    163.32deg,
    #fcd561 12.34%,
    #f8c85a 61.18%,
    #eda144 98.7%,
    #eda144 98.7%
  ); */
}
.header {
  background: linear-gradient(
    163.32deg,
    #fcd561 12.34%,
    #f8c85a 61.18%,
    #eda144 98.7%,
    #eda144 98.7%
  );
}
.container {
  outline: 1px solid tomato;
  width: 1100px;
  margin: 0 auto;
}
